@import 'helsinki/colors';
@import 'styles/mixin';

.vene-front-page {
  margin-top: 3em;
  &__title {
    margin-bottom: 2em;
  }

  &__card-wrapper {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 2em;
    width: 100%;

    &--half {
      @include for-desktop {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    &--wide {
      @include for-desktop {
        flex: 0 0 40%;
        max-width: 40%;
      }
    }

    &--thin {
      @include for-desktop {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
}
