$berthIconSize: 42px;
$berthImageHeight: 12em;

.app-berth {
  @extend %theme;
  background-color: $hel-light;

  &-details-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    padding: 1em;
    padding-top: 0px;
    white-space: nowrap;

    @include for-tablet {
      flex-direction: column;
      padding: 1em 0;
    }
  }

  &-details {
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    flex: 0 0 33.33%;
    height: auto;

    opacity: 1;

    &:last-child {
      flex-grow: 1;
    }

    &-not-available {
      opacity: 0.15;
    }

    &__icon {
      @extend %icon;

      height: $berthIconSize;
      width: $berthIconSize;

      margin: 4px;
      display: none;
      text-align: center;

      @include for-tablet {
        display: block;
      }
    }

    &__value {
      margin-left: 0.5ch;
      text-align: center;
      font-size: $baseFontSize;
      font-weight: $fontWeightBold;
      order: 2;

      @include for-tablet {
        margin: 4px 0;
        line-height: $berthIconSize;
        height: $berthIconSize;
        font-size: $largeFontsize;
        order: -1;
      }
    }

    &-title {
      text-align: center;

      @include for-tablet {
        font-size: $smallFontSize;
      }

      @include for-desktop {
        font-size: inherit;
      }
    }

    &-image {
      object-fit: cover;
      height: $berthImageHeight;
      width: 100%;
      display: none;

      @include for-tablet {
        height: 100%;
        display: block;
      }
    }

    @include for-tablet {
      justify-content: right;
      flex: 1 0 50%;
      flex-direction: column;
      height: 1px;
    }
  }

  &__availability-level {
    margin-top: 0.5em;

    &__button {
      padding: 0;
      &.btn-link.btn-link:hover {
        background-color: transparent !important;
      }
    }

    &__marker {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 0.3em;
      border-radius: 50%;

      &-default {
        background-color: $hel-white;
      }
      &-red {
        background-color: $hel-brick;
      }
      &-yellow {
        background-color: $hel-summer;
      }
      &-green {
        background-color: $hel-tram;
      }
    }
  }

  &-summary-wrapper {
    padding: 1em;

    > * {
      display: block;
    }
    strong {
      line-height: 1em;
    }
    small {
      font-size: $smallFontsize;
    }
    a {
      color: black;
    }

    &__heading {
      font-size: $headingSm;

      @include for-tablet {
        font-size: $headingMd;
      }

      @include for-desktop {
        font-size: $headingLg;
      }
    }

    &__berth-address {
      margin: 0.5em 0;
    }

    @include for-tablet {
      padding: 1em 0;
    }
  }

  &-website-link {
    margin-top: 0.5em;
    font-weight: $fontWeightBold;

    &__type-icon {
      @extend %icon;

      height: '1em';
      width: '1em';
      display: inline-block;
    }
  }
}
