@import 'helsinki/colors';

.vene-spinner {
  border: 2px solid $hel-light;
  border-top: 2px solid $hel-black;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
