$berthIconSize: 42px;
$berthImageHeight: 12em;

.app-berth {
  @extend %theme;
  background-color: $hel-light;

  &-image {
    object-fit: cover;
    height: $berthImageHeight;
    width: 100%;
    display: none;

    @include for-tablet {
      height: 100%;
      display: block;
    }
  }

  &__availability-level {
    margin-top: 0.5em;

    &__button {
      padding: 0;
      &.btn-link.btn-link:hover {
        background-color: transparent !important;
      }
    }

    &__marker {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 0.3em;
      border-radius: 50%;

      &-default {
        background-color: $hel-white;
      }
      &-red {
        background-color: $hel-brick;
      }
      &-yellow {
        background-color: $hel-summer;
      }
      &-green {
        background-color: $hel-tram;
      }
    }
  }

  &-summary-wrapper {
    padding: 1em;

    > * {
      display: block;
    }
    strong {
      line-height: 1em;
    }
    small {
      font-size: $smallFontsize;
    }
    a {
      color: black;
    }

    &__heading {
      font-size: $headingSm;

      @include for-tablet {
        font-size: $headingMd;
      }

      @include for-desktop {
        font-size: $headingLg;
      }
    }

    &__berth-address {
      margin: 0.5em 0;
    }

    @include for-tablet {
      padding: 1em 0;
    }
  }

  &-website-link {
    margin-top: 0.5em;
    font-weight: $fontWeightBold;

    &__type-icon {
      @extend %icon;

      height: '1em';
      width: '1em';
      display: inline-block;
    }
  }
}
