@import 'helsinki/colors';

.app-Berths {
  margin-top: 1em;

  .app-Berth {
    opacity: 1;

    &__excluded {
      opacity: 0.5;
    }
  }

  h3 {
    margin: 1em 0;
    span {
      font-weight: inherit;
      font-size: inherit;
    }
  }

  &__invalid-selection {
    .vene-icon {
      width: 1em;
      height: 1em;
      fill: $hel-brick;
    }
    position: relative;
    display: inline-block;
    margin-left: 0.25em;
  }
}
