{
  "extends": ["react-app", "airbnb-base", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "plugins": ["jest", "react", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["!/src/**/*.js"] }]
  }
}
