{
  "extends": [
    "react-app",
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["react", "jest", "flowtype", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["!/src/**/*.js"] }]
  }
}
