@import 'styles/variables';

.vene-switch-application {
  padding: 0 $spacing-01 $spacing-03;

  &__row {
    margin-bottom: $spacing-02;
  }

  &__divider {
    margin-bottom: $spacing-03;
  }

  &__heading {
    margin-top: 0;
  }

  &__description {
    margin-top: $spacing-01;
  }
}
