@import 'styles/mixin';
@import 'helsinki/colors';

.vene-layout {
  &__hero {
    background-image: url('../../assets/images/hero_image_berth.jpg');
    background-size: cover;
    background-position: right top;
    padding: 4em 0;
    min-height: 10em;
    @include for-tablet {
      min-height: 20em;
    }
    @include for-big-desktop {
      min-height: 30em;
    }

    &--winter {
      background-image: url('../../assets/images/hero_image_winter_storage.jpg');
      background-position: center;
    }

    h1 {
      font-size: 2em;
      padding: 8px 16px;

      @include for-phone {
        font-size: 3em;
      }
      @include for-desktop {
        font-size: 4em;
      }
      color: $hel-white;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    }
  }

  &__koro {
    > div {
      margin-top: 3em;
      margin-bottom: 4em;
    }
  }
}
