@import 'helsinki/fonts';
@import 'styles/variables';

.vene-contract-info {
  &__heading {
    font-size: $font-size-base;
  }

  &__link {
    display: inline-block;
    margin-top: $spacing-01;
    text-decoration: underline;
  }
}
