@import 'helsinki/colors';
@import 'styles/variables';
@import 'styles/mixin';

.vene-berth-offer {
  &__heading {
    line-height: $spacing-02-50;
    margin-bottom: $spacing-04;
  }

  &__grid {
    display: grid;
    grid-column-gap: $spacing-04;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: auto;
    grid-template-areas:
            "berth-info berth-info"
            "order-info order-info"
            "buttons buttons"
            "info-text info-text";

    @include for-desktop() {
      grid-template-areas:
            "berth-info order-info"
            "buttons order-info"
            "info-text order-info";
    }
  }

  &__berth-info {
    grid-area: berth-info;
  }

  &__buttons {
    grid-area: buttons;
    margin: $spacing-02 0;

    > button:not(:first-child) {
      margin-left: $spacing-01;
    }
  }

  &__info-text {
    grid-area: info-text;
  }

  &__order-info {
    grid-area: order-info;
  }

  &__divider {
    margin: $spacing-02 0;
    border-color: $hel-gray;
  }
}
