@import '../../node_modules/open-city-design/src/scss/helsinki/mixins';

.section-koro-top {
  &.fog:after {
    @include koro('basic', #9fc8eb, 400);
  }
  &.blue:after {
    @include koro('basic', #0072c6, 400);
  }
  &:after {
    @include koro('basic', #ffffff, 400);
    content: '';
    display: block;
    height: 1.25em;
  }
}
.section-koro-bottom {
  &.fog:before {
    @include koro('basic', #9fc8eb, 400);
  }
  &.blue:before {
    @include koro('basic', #0072c6, 400);
  }
  &:before {
    @include koro('basic', #ffffff, 400);
    content: '';
    display: block;
    height: 1.25em;
  }
}
