@import '../../node_modules/open-city-design/src/scss/helsinki/mixins';

.section-koro {
}

.section-koro__content {
  padding: 0px 35px 300px 18px;
  font-size: 65px;
  font-weight: bold;
  color: #fff;
}

.section-koro.hel-berth.koro-pulse-top {
  margin-bottom: 40px;
  background: #9fc9eb;
}

.section-koro.hel-berth.koro-pulse-bottom {
  margin-top: 50px;
  background: #0072c6;
}

.section-koro.koro-pulse-top:after {
  content: '';
  display: block;
  height: 30px;
  width: 100%;
}

.section-koro.koro-pulse-bottom:before {
  content: '';
  color: #0072c6;
  display: block;
  height: 30px;
  width: 100%;
}

.section-koro.hel-berth,
.section-koro.hel-berth:before,
.section-koro.hel-berth:after {
  background: #9fc9eb;
}

.section-koro.hel-berth.koro-pulse-top:after {
  background: #9fc9eb;
  @include koro('pulse', #ffffff, 300);
}

.section-koro.hel-berth.koro-pulse-bottom:before {
  background: #fff;
  @include koro('pulse', #0072c6, 300);
}
