@import 'helsinki/fonts';

.vene-storage-areas {
  margin-bottom: 2em;

  &__title {
    font-weight: $font-weight-bold;
  }
  .vene-input {
    margin-bottom: 0.2em;
  }
  span {
    display: block;
    margin-top: 0.5rem;
    font-size: $font-size-sm;
    line-height: 1.25;
  }
}
