.app-overview-info {
  background-color: $hel-white;
  padding: 1.5em;
  margin-bottom: 2em;

  &__header {
    border-bottom: 1px solid $hel-black;
    padding-left: 0px;
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
  }

  &__edit-icon {
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
    text-align: right;
  }

  &-edit-link {
    display: flex;
  }
}
