@import 'helsinki/colors';

$footerIconWidth: 120px;

.vene-footer {
  color: $hel-white;
  min-height: 10em;
  &__vene-link {
    text-align: center;
  }

  &__hel-logo {
    text-align: center;
  }

  a {
    color: $hel-white;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    text-align: center;
  }

  &__link-wrapper {
    margin-top: 2em;
    display: inline-flex;
    flex: 1;
    justify-content: space-evenly;
  }

  .vene-icon {
    width: $footerIconWidth;
    fill: $hel-white;
  }
}
