@import 'helsinki/colors';

.vene-notice-page {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 10em;
  flex-grow: 1;

  h2 {
    margin-bottom: 1em;
  }

  p {
    max-width: 640px;
    margin: 2em auto;
  }

  &__front-page-button {
    margin-top: 3em;
    padding: 1em 8em;
  }

  &--light {
    background-color: $hel-light;
  }

  &--fog {
    background-color: $hel-fog;
  }
}
