@import 'helsinki/colors';

.vene-notice-page {
  background-color: $hel-light;
  text-align: center;
  flex-grow: 1;

  &__content {
    padding: 4em 0;
  }

  h2 {
    margin-bottom: 1em;
  }

  p {
    max-width: 640px;
    margin: 1em auto;
  }

  &__front-page-button {
    margin: 2em 0 6em 0;
    padding: 1em 8em;
  }

  &--success {
    background-color: $hel-fog;
  }
}
