@import '~open-city-design/src/scss/helsinki/colors';
@import '~open-city-design/src/scss/helsinki/fonts';
@import '~open-city-design/src/scss/helsinki/mixins';

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
