@import 'helsinki/colors';
@import 'helsinki/fonts';
@import 'styles/mixin';

.vene-berth__selected {
  &__row {
    display: flex;
    margin-bottom: 0.5em;

    button {
      padding-left: 0;
      padding-right: 0;
      height: 100%;
      background-color: transparent;

      @include for-phone {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }
  }

  &__name {
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: $hel-coat;
    color: $hel-white;

    button {
      padding: 0;
      border: 0;

      .vene-icon {
        height: 30px;
        width: 30px;
        fill: $hel-white;
      }
    }

    &.has-error {
      background-color: $hel-silver;
      color: $hel-gray;
    }

    font-size: $font-size-sm;
    line-height: 1;
    hyphens: auto;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    transition: background-color 200ms ease-in;

    &.moving-entering {
      background-color: $hel-fog;
    }

    &.moving-exiting {
      background-color: $hel-fog;
    }

    @include for-phone {
      font-size: 1.2em;
    }

    span {
      flex-grow: 1;
      color: $hel-white;
    }
  }

  &__options {
    display: flex;
    align-content: center;

    button {
      padding: 0.5em;

      &.disabled {
        .vene-icon {
          fill: $hel-light;
        }
      }
      &:first-child {
        margin-right: 6px;
      }
      &:hover {
        background-color: $hel-fog;
      }

      .vene-icon {
        height: 36px;
        width: 36px;
        fill: $hel-black;
      }

      @include for-phone {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }
  }
}
