@import 'helsinki/colors';
@import 'styles/mixin';

.vene-form {
  &__wizard-wrapper {
    background-color: $hel-light;
    padding: 1em 0 3em;

    &__button-group {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      @include for-phone {
        flex-direction: column;
      }
    }
  }
}
